body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  height: 1800px;
}

.postList:hover {
  transform: scale(1.1);
}

.createPostModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.createPostModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 10%;
  left: 30%;
  bottom: 20%;
  z-index: 1050;
  width: 35%;
  height: 65%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.deleteModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.deleteModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 40%;
  bottom: 40%;
  z-index: 1050;
  width: 25%;
  height: 18%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.updateModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.updateModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 30%;
  bottom: 40%;
  z-index: 1050;
  width: 40%;
  height: 68%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.ratingModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.ratingModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 30%;
  bottom: 40%;
  z-index: 1050;
  width: 30%;
  height: 45%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.createPetModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.createPetModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 33%;
  bottom: 40%;
  z-index: 1050;
  width: 35%;
  height: 58%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.updateProfileModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.updateProfileModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 33%;
  bottom: 40%;
  z-index: 1050;
  width: 35%;
  height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.noHover {
  pointer-events: none;
}

.star > input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}


/** CUSTOM */

.input-group .invalid-feedback {
  padding-left: 55px;
}

.post-card .card-body {
  min-height: 150px;
  height: 100%;
}

.post-card .post-pet {
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: 500px;
  font-size: 24px;
  left: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.post-card .card-img-top {
  position: relative;
}
.post-card .post-owner {
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: 500px;
  font-size: 24px;
  left: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.post-card .post-rating {
  position: absolute;
  top: 0;
  color: white;
  font-weight: 500px;
  font-size: 24px;
  left: 260px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.text-with-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.pet-profile {
  position: relative;
}

.pet-delete {
  position: absolute;
  top: 25px;
  right: 10px;
}

#map {
  height: 100%;
}

.offer-rate {
  position: relative;
  width: 25%;
  margin: auto;
}

.offer-rate-name {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}