body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  height: 1800px;
}

.postList:hover {
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.modal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 10%;
  left: 25%;
  bottom: 20%;
  z-index: 1050;
  width: 50%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.deleteModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.deleteModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 40%;
  bottom: 40%;
  z-index: 1050;
  width: 20%;
  height: 20%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.updateModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.updateModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 30%;
  bottom: 40%;
  z-index: 1050;
  width: 40%;
  height: 68%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.ratingModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.ratingModal-wrapper {
  display: inline-flex;
  position: fixed;
  top: 20%;
  left: 30%;
  bottom: 40%;
  z-index: 1050;
  width: 40%;
  height: 68%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.noHover {
  pointer-events: none;
}

.star > input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}


/** CUSTOM */

.input-group .invalid-feedback {
  padding-left: 55px;
}
