body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBg {
  background-image: url("https://res.cloudinary.com/djbn7xax3/image/upload/v1618314500/PetPortal/homeImg2_jecdh0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1800px;
}

.postList:hover {
  transform: scale(1.1);
}

